.chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 70px;
    border-bottom: 1px solid rgb(229, 228, 228);
}

.chat__details {
    flex: 1;
}

.chat__details > p {
    color: rgb(131, 127, 127);
}


.chat__timestamp {
    color: rgb(180, 178, 178);
}


.chat__image {
    margin-right: 20px;
}